<div id="invitation">Invite your friends! Share the url of this page http://tokboxvideochat.herokuapp.com/party/<%= @room.id %></div>
<div id="videobox">

</div>
<script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var apiKey =  22329432;
	var sessionId = "<%= @room.sessionId %>";
	var token = "<%=  @tok_token %>";

	var session;

	TB.addEventListener('exception', exceptionHandler);
	session = TB.initSession(sessionId);

	//Video chat event listeners
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.addEventListener('streamCreated', streamCreatedHandler);
    session.addEventListener('streamDestroyed', streamDestroyedHandler);

	session.connect(apiKey, token);
</script>