/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html,
body {
	width: 100%;

	margin:0;
	padding: 0;

	font-size: 14px;

	font-family: "sans-serif";
}

#container {
	width: 960px;

	margin-right: auto;
	margin-left: auto;
}

#header,
#content,
#footer {
	width: inherit;

	float: left;

	padding: 10px;
	margin: 10px;
}

#header h1,
#header h3 {
	float: left;
}

#header h3 {
	margin-top: 27px;
	margin-left: 20px;
}

#footer {
	font-size: 10px;

	text-align: center;
}

#videobox {
	width: 100%;
	height: 100%;

	max-width: 800px;
	max-height: 600px;

	margin-right: auto;
	margin-left: auto;
}

#videobox object {
	float: left;
}