// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#videobox {
  width: 100%;
  height: 100%;

  max-width: 800px;
  max-height: 600px;

  margin-right: auto;
  margin-left: auto;
}

#videobox object {
  float: left;
}